.my-popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .my-popup-arrow {
    width: 0px;
    height: 0px;   
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].my-popup-content {
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .my-popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].my-popup-overlay {
    background: transparent;
  }
  