html,
body {
  width: 250px;
  height: auto;
  margin: 0;
}

header {
  height: 36px;
  border-bottom: 2px solid #dddddd;
}

#votes {
  float: right;
  margin: 9px 14px;
  color: #909090;
}

#votes-num {
  color: #2196f3;
}

#-votes-num {
  color: #da0000;
}

#main {
  width: 180px;
  margin: 15px 25px;
}

p {
  color: #909090;
}

#stats {
  display: flex;
}

.stat {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 5px;
}

.stat-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #2196f3;
  color: #2196f3;
  padding: 5px;
  font-size: 16px;
}

.-stat-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #da0000;
  color: #da0000;
  padding: 5px;
  font-size: 16px;
}

.stat-label {
  margin-top: 5px;
  color: #909090;
  font-size: 14px;
}

#week-stats-container {
  margin: 10px;
  padding: 0 10px 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

#week-stats {
  display: flex;
}

.stat-sm {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 5px;
}

.stat-display-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #2196f3;
  color: #2196f3;
  padding: 5px;
  font-size: 15px;
}

.-stat-display-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #da0000;
  color: #da0000;
  padding: 5px;
  font-size: 15px;
}

.stat-label-sm {
  margin-top: 5px;
  color: #909090;
  font-size: 13px;
}
